# Prerequisites
*.d
*private*

# go.sum
go.sum

*.log

# certs
*.pem
*.cert
*.crt
*.key
*.csr
*.srl
openssl-*.cnf

# linux kernel
linux*source*
vmlinu*

# temp
*.tmp
*.history
*.orig

# build
build

# GDB
.gdb*
peda*

# YCM extraconf
.ycm*

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
lkm/*.mod*
lkm/*.cmd
lkm/.tmp_versions/
lkm/modules.order
lkm/Module.symvers
lkm/Mkfile.old
lkm/dkms.conf

# fuck spotlight
.DS_Store

# shellcode.txt
shellcode.txt

# temp
temp*
